extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    +alert-success(5000)
    +alert-error(5000)
    
    h1(class="mb-4") Chỉnh sửa danh mục sản phẩm

    form(
        action=`${prefixAdmin}/products-category/edit/${data.id}?_method=PATCH`
        method="POST"
        id="form-edit-product"
        enctype="multipart/form-data"
    )
        // ===== TIÊU ĐỀ =====
        div(class="mb-3")
            label(class="form-label" for="title") Tiêu đề
            input(
                type="text"
                id="title"
                name="title"
                class="form-control"
                required
                value= data.title
            )
        // ===== DANH MỤC CHA =====
        div(class="mb-3")
            label(class="form-label" for="parent_id") Danh mục cha
            select(
                name="parent_id"
                id="parent_id"
                class="form-control"
            )
                option(value="") -- Chọn danh mục cha --

                if(records)
                    +select-tree(records, 1, data.parent_id)

    

        // ===== MÔ TẢ =====
        div(class="mb-3")
            label(class="form-label" for="desc") Mô tả
            textarea(
                id="desc"
                name="description"
                rows="4"
                class="form-control"
            ) #{data.description}

        // ===== ẢNH (URL) =====
        div(
            class="mb-3"
            upload-image
        )
            label(class="form-label" for="thumbnail") Ảnh (URL)

            input(
                type="file"
                id="thumbnail"
                name="thumbnail"
                class="form-control-file"
                accept="image/*"
                upload-image-input
            )

            div(class="mt-2 d-flex align-items-center gap-2")
                img(
                    class="image-preview"
                    src=data.thumbnail
                    upload-image-preview
                )

                button(
                    type="button"
                    class="btn btn-danger btn-sm"
                    upload-image-remove
                ) Xóa ảnh


        // ===== VỊ TRÍ =====
        div(class="mb-3")
            label(class="form-label" for="position") Vị trí
            input(
                type="number"
                id="position"
                name="position"
                min="1"
                placeholder="Tự động tăng"
                class="form-control"
                value=data.position
            ) 

        // ===== TRẠNG THÁI =====
        div(class="mb-3")
            label(class="form-label") Trạng thái

            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    id="statusActive"
                    name="status"
                    value="active"
                    class="form-check-input"
                    checked=(data.status == "active" ? true : false )
                )
                label(
                    for="statusActive"
                    class="form-check-label"
                ) Hoạt động

            div(class="form-check form-check-inline")
                input(
                    type="radio"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                    class="form-check-input"
                    checked=(data.status == "inactive" ? true : false )
                )
                label(
                    for="statusInactive"
                    class="form-check-label"
                ) Dừng hoạt động

        // ===== SUBMIT =====
        div(class="mt-4")
            button(
                type="submit"
                class="btn btn-success"
            ) Cập nhật

            a(
                href=`${prefixAdmin}/products-category`
                class="btn btn-secondary ms-2"
            ) Hủy

    script(src="/admin/js/product.js")
